.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.buttons {
  width: 118px;
  margin-top: 20px;
}

.button-add{
  margin-bottom: 16px;
  float: right;
  z-index: 1;
}

.button-add{
  margin-bottom: 16px;
  float: left;
  z-index: 1;
}

.button-edit{
  margin-bottom: 16px;
  float: right;
  z-index: 1;
}